@media only screen and (max-width: 640px) {
    .subhead p{
        padding-left: 10px;
        margin-top: 20px;
    }
    .d-info-col{
        padding-left: 20px;
    }
    .d-info-col .title{
        width: 100%;
    }
    .d-info-col .subhead{
        width: 100%;
    }
    .d-info-col .links{
        width: 100%;
    }
    .d-info-col .num{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .d-info-col .num h1{
        font-size: 18px;
        width:45px;
        height: 30px;
        background: #fff;
        color: #000;
        border: none;
        font-weight: 500;
    }

    .d-graphicCol{
        max-width: 350px;
    }

    #home-wrap{
        flex-direction: column;
        padding: 10px 20px;
    }

    #home-wrap .intro{
        margin-top:15px;
        margin-left: 0px;
        font-size: 15px;
        width: 100%;
    }
    #logo-div{
        max-width: 280px;
        min-width: 200px;
    }
    .sec-wrap{
        justify-content: flex-start;
    }
    #nav-btn{
        display: block;
        z-index: 21;
    }
    #nav-btn.opened{
        left: unset;
        right: 20px;
        transition: all 0.5s ease-in-out;
    }
    .drug-number{
        visibility: hidden;
    }
    .sidebar, .sidebar.expanded{
        visibility: hidden;
    }
    .sec-wrap{
        padding-left: 0px;
    }
    .sidebar.mob-expanded{
        visibility: visible;
        width: 100%;
    }
    .sidebar.mob-expanded .drug-number{
        visibility: visible;
    }
    .expanded .navlist{
        width: 100%;
        background: rgba(30,30,30,1);
    }

    .navlist .nav-item.active li .drug-number{
        transition: none;
    }

    .navlist li .drug-title{
        transition-delay: 0s;
    }
    .navlist{
        padding-top:50px;
    }

    .d-graphicCol{
        max-width: 300px;
    }
    .d-info-col .title h1{
        font-weight: 300;
    }
    .subhead p{
        font-size: 14px;
    }

    .about-logos img{
        display: block;
        margin: 10px 0;
        width:120px;
    }
    #about-uts-logo{
        margin-left: 0;
        width:200px;
    }
    .section{
        border-top: 1px solid #666;
    }

    #home-btn{
        padding-left: 10px;
        display: none;
    }
    .mob-expanded #home-btn{
        display: block;
    }
    #home-btn img{
        transition: none;
    }

}