*{
    font-family: "benton-sans", sans-serif;
    -webkit-overflow-scrolling: touch;
}
.invisible{
    opacity: 0;
}
#home-wrap h1{
    font-family: "benton-sans", sans-serif;
    font-weight: 1000;
    font-size: 120px;
    width:fit-content;
    /* z-index: 4; */
    position: relative;
    color: white;
    border-left: #fff 2px solid;
    padding-left: 15px;
    height: 1.9em;
    
}
#home-wrap .title{
    height: fit-content;
}
.fp-tableCell{
    vertical-align: unset;
}

.section{
    position: relative;
    padding-top: 0 !important;
    z-index: 2;
    background: black;

}
.section:nth-child(even){
    /* background: #222 */
}
#home-wrap{
    /* margin-left: 200px; */
    pointer-events:none;
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 10vh 10%;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* background: #eee; */
}
.home-logos{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#home-wrap .intro{
    height: fit-content;
    width: 30%;
    min-width: 400px;
    font-size: 20px;
    line-height: 1.2em;
    color: white;
    font-family: "benton-sans", sans-serif;
    /* background: rgba(0,0,0,0.4); */
    padding-left: 20px;
    margin-top:15px;

}
.intro p{
    vertical-align: bottom;
}

#logo-div{
    width:25%;
    max-width: 320px;
    min-width: 250px;
    /* margin-top: 100px; */
}
#logo-div img{
    margin-top: 15px
}
#uts-logo{
    width: 100%;
}
#thj-logo{
    width: 55%;
}

#nav-btn{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
    opacity: 1;
}




.expanded .nav-arrow{
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}
.sidebar{
    height: 100vh;
    position: absolute;
    left: 0;
    top:0;
    display: flex;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    width:60px;

}
.invisible{
    opacity: 0;
}
/* .sidebar div{
    display: inline-block;
} */
.sidebar.expanded{
    width:340px;

}
.navlist{
    padding-top:20px;
    z-index: 2;
    height: 100vh;
    width: 0px;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.expanded .navlist{
    height: 100vh;
    background: rgba(30,30,30,0.9);
    width: 300px;
}
ul{
    list-style-type: none;
    padding-left: 0px;
    transition: all 0.2s ease-in-out;

}
.expanded ul {
    padding-left: 0;
}
.expanded .nav-item.active li{
    color: #fff;
}
.navlist li{
    white-space:nowrap;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #666;
    font-family: "benton-sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
}
.navlist li .drug-title{
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    transition-delay: 0.2s;
    font-weight: 600;
}

.expanded .navlist li .drug-title{
    visibility: visible;
    opacity: 1;
    white-space: nowrap;
}
.navlist li .drug-number{
    font-size: 12px;
}
.navlist li .drug-number{
    width: 30px;
    padding: 4px 5px;
    float: left;
    text-align: center;
}
.navlist .nav-item.active li .drug-number{
    background-color: #2FD8BE;
    border-radius: 20px;
    color: #000;
    transition: all 0.6s ease-in-out;
}
.expanded .navlist .nav-item.active li .drug-number{
    background-color: unset;
    border-radius: 20px;
    color: #fff;
}
.expanded .navlist li .drug-number{
    font-weight:600;
}
.expanded .navlist li:hover{
    background-color: rgba(102,166,196,1); 
    color: white;
}

.navlist a:hover{
    text-decoration: none;
}

#scrollAnim a{
    text-decoration: none;

}
#scrollAnim{
    position: relative;
    text-align: center;
    margin-top: -1%;
}
#scrollAnim p{
    margin-top:60px;
    color: #ddd;
    font-size: 12px;
    font-family: "benton-sans", sans-serif;
    font-weight: 100;
}
/* #scrollAnim a {
    padding-top: 60px;
  } */
  #scrollAnim a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 1px solid #2FD8BE;
    border-radius: 50px;
    box-sizing: border-box;
  }
  #scrollAnim a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #2FD8BE;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }






.graphicCol{
    /* background: red; */
    height: 100vh;
    margin:0;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* z-index: 10; */
    width: 100%;

}
#graphic-container{
    width:56%;
    margin: 0 auto;
    position: relative;
    /* position: absolute;
    left: 22%; */
    /* background: #eee; */
    /* height: 70%; */
    /* z-index: 1; */
}
svg{
    width: 100%;
    pointer-events:none;
}

canvas{
    width:100%;
    /* border: 1px solid #fff; */
}

.svgAndCanvas{
    position: absolute;
    /* width:56%;
    margin: 0 22%; */
}

#svg-container{
    z-index: 1;
    pointer-events:none;
    width: 100%;
}

.d-graphicCol{
    height: 100vh;
    position: relative;
    /* background: red; */
    width: 50%;
    min-width: 400px;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.d-graphic-container{
    /* background: blue; */
    position: relative;
    height: auto;
}
.pngAndCanvas{
    width: 100%;
    max-width: 640px;
    z-index: 2;
    position: relative;
    /* background: #ddd; */
}
.pngAndCanvas img{
    width:100%;
    pointer-events:none;
   
}

.png-container{
    pointer-events:none;
}
.d-canvas{
    position: absolute;
    top:0;
    left:0;
    /* background: red; */
    z-index: 0;
}

.sec-wrap{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
}

.d-info-col{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    transition: all 0.2s ease-in-out;
}
.d-info-col .title h1{
    font-family: "benton-sans", sans-serif;
    font-weight: 1000;
    font-size: 60px;
    max-width:700px;
    /* z-index: 4; */
    position: relative;
    color: #2FD8BE;
    border-left: #fff 2px solid;
    padding-left: 15px;
}
.d-info-col .num h1{
    font-family: "benton-sans", sans-serif;
    font-weight: 100;
    font-size: 40px;
    position: relative;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 20px;
    width:75px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #fff;
}

.subhead{
    height: fit-content;
    transition: all 0.2s ease-in-out;
}
.subhead p{
    font-family: "benton-sans", sans-serif;
    color: white;
    font-size: 20px;
    max-width: 700px;
    line-height: 1.2em;
    padding-left: 18px;
    margin-top: 20px;
    height: fit-content;
    transition: all 0.2s ease-in-out;

}


.links{
    display: flex;
    justify-content: space-between;
    max-width:700px;
    margin-top: 40px;
    padding: 0 20px;
}
.links .inst-logo{
    width: 80px;
}
.inst-logo img{
    width: 100%;
}
.link a{
    font-family: "benton-sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2FD8BE;

}


.remaining-content span {
    display: none;
}

.morelink{
    color: #fff;
    opacity: 0.5;
}

.morelink:hover{
    color: #fff;
    opacity: 1;
}