*{
    font-family: "benton-sans", sans-serif;
}

h1{
    font-family: "benton-sans", sans-serif;
    font-weight: 1000;
    font-size: 120px;
    width:500px;
    /* z-index: 4; */
    position: relative;
    color: white;
    border-left: #fff 2px solid;
    padding-left: 15px;
    height: 1.9em;
    
}

.fp-tableCell{
    vertical-align: unset;
}

.section{
    position: relative;
    padding-top: 0 !important;
    z-index: 2;
    background: black;

}
#home-wrap{
    /* margin-left: 200px; */
    pointer-events:none;
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 10vh 10%;
    justify-content: space-between;
    /* background: #eee; */
}
.home-intro{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.intro{
    width: 30%;
    min-width: 400px;
    font-size: 20px;
    line-height: 1.2em;
    color: white;
    font-family: "benton-sans", sans-serif;
    /* background: rgba(0,0,0,0.4); */
    padding-left: 20px;
    margin-top:15px;

}
.intro p{
    vertical-align: bottom;
}

#logo-div{
    width:25%;
    max-width: 320px;
    min-width: 250px;
    /* margin-top: 100px; */
}
#logo-div img{
    margin-top: 15px
}
#uts-logo{
    width: 100%;
}
#thj-logo{
    width: 55%;
}

#nav-btn{
    height: 100vh;
    width:40px;
    background-color:#969696;
}
.sidebar{
    height: 100vh;
    position: absolute;
    left: 0;
    top:0;
    display: flex;

}
.sidebar div{
    display: inline-block;
}
.sidebar.expanded{
    width:340px;

}
.navlist{
    height: 100vh;
    width: 0px;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.expanded .navlist{
    height: 100vh;
    background: rgb(4, 77, 95);
    width: 300px;
}


.graphicCol{
    /* background: red; */
    height: 100vh;
    margin:0;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* z-index: 10; */
    width: 100%;

}
.graphic-container{
    width:100%;
    /* position: absolute;
    left: 22%; */
    /* background: #eee; */
    /* height: 70%; */
    /* z-index: 1; */
}
svg{
    width: 100%;
    pointer-events:none;
}

canvas{
    width:100%;
}

.svgAndCanvas{
    position: absolute;
    width:56%;
    margin: 0 22%;
}

#svg-container{
    z-index: 1;
    pointer-events:none;
}

.d-graphicCol{
    height: 100vh;
    position: relative;
    /* background: red; */
    width: 50%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.d-graphic-container{
    /* background: blue; */
    position: relative;
    height: auto;
}
.pngAndCanvas{
    width: 100%;
    max-width: 640px;
    z-index: 2;
    position: relative;
    /* background: #ddd; */
}
.pngAndCanvas img{
    width:100%;
   
}

.png-container{
    pointer-events:none;
}
.d-canvas{
    position: absolute;
    top:0;
    left:0;
    /* background: red; */
    z-index: 0;
}