p{
    font-family: "benton-sans", sans-serif !important;
    scroll-behavior: smooth;
}
::-webkit-scrollbar { 
    display: none; 
}
#home-btn img{
    width: 30px;
    opacity: 0.2;
    transition: width 0.3s ease-in-out;
}
.expanded #home-btn img{
    width: 35px;
    opacity: 0.6;
}
#home-btn li{
    padding: 5px 0;
    padding-left: 20px;
}
#home-btn{
    margin-top:30px;
    display: block;
}
.invisible{
    opacity: 0;
}
#home-wrap h1{
    font-family: "benton-sans", sans-serif;
    font-weight: 1000;
    font-size: 120px;
    width:fit-content;
    /* z-index: 4; */
    position: relative;
    color: white;
    border-left: #fff 2px solid;
    padding-left: 15px;
    height: 1.9em;
    
}
#home-wrap .title{
    height: fit-content;
}
.fp-tableCell{
    vertical-align: unset;
}

.section{
    position: relative;
    padding-top: 0 !important;
    z-index: 2;
    background: black;
    /* background: rgba(247,148,32,1); */

}
.section:nth-child(even){
    /* background: #222 */
}
#home-wrap{
    /* margin-left: 200px; */
    pointer-events:none;
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 10vh 10%;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* background: #eee; */
}
.home-logos{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#home-wrap .intro{
    height: fit-content;
    width: 30%;
    min-width: 400px;
    font-size: 20px;
    line-height: 1.2em;
    color: white;
    font-family: "benton-sans", sans-serif;
    /* background: rgba(0,0,0,0.4); */
    padding-left: 20px;
    margin-top:15px;

}
.intro p{
    vertical-align: bottom;
    display: inline;
    background-color: #00000055;
    box-shadow: 10px 0 0 #00000055, -10px 0 0 #00000055;

}

#logo-div{
    width:25%;
    max-width: 320px;
    min-width: 250px;
    /* margin-top: 100px; */
}
#logo-div img{
    margin-top: 15px;
    pointer-events: auto ;
}
#uts-logo{
    width: 100%;
}
#thj-logo{
    width: 55%;
}

#nav-btn{
    z-index: 21;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    opacity: 1;
    padding: 10px;
    padding-top: 0;
}

#nav-btn .fa-bars{
    background-color: #000000aa;
    padding: 5px;
    border-radius: 5px;
}
.sidebar{
    z-index: 20;
    height: 100vh;
    position: fixed;
    left: 0;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    /* transition: all 0.2s ease-in-out; */
    width:60px;

}
.invisible{
    opacity: 0;
}
/* .sidebar div{
    display: inline-block;
} */
.sidebar.expanded{
    width:340px;


}
.navlist{
    padding-top:20px;
    padding-bottom:20px;
    z-index: 2;
    height: 100vh;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.navlist::-webkit-scrollbar { 
    width: 0 !important 
}

.expanded .navlist{
    height: 100vh;
    width: 340px;
    background: rgba(30,30,30,0.95);
}
ul{
    list-style-type: none;
    padding-left: 0px;
    transition: all 0.2s ease-in-out;


}
.expanded ul {
    padding-left: 0;
}
.expanded .nav-item.active li{
    color: #fff;
}
.navlist li{
    white-space:nowrap;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #666;
    font-family: "benton-sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
}

#home-btn li{
    transition: none;
}
.navlist li .drug-title{
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    transition-delay: 0.2s;
    font-weight: 600;
}

#about-btn li{
    color: #2FD8BE;
}
#about-btn .drug-title{
    font-weight: 200;
}
.expanded .navlist li .drug-title{
    visibility: visible;
    opacity: 1;
    white-space: nowrap;
}
.navlist li .drug-number{
    font-size: 12px;
}
.navlist li .drug-number{
    width: 30px;
    padding: 2px 5px;
    float: left;
    text-align: center;
}
.navlist .nav-item.active li .drug-number{
    background-color: #2FD8BE;
    border-radius: 20px;
    color: #000;
    transition: all 0.6s ease-in-out;
}
.expanded .navlist .nav-item.active li .drug-number{
    background-color: unset;
    border-radius: 20px;
    color: #fff;
}
.expanded .navlist li .drug-number{
    font-weight:600;
}
.expanded .navlist li:hover{
    background-color: rgba(102,166,196,1); 
    color: white;
}

.expanded #home-btn li:hover{
    background-color: unset;
}
.expanded #home-btn li:hover img{
    opacity: 1;
}
.navlist a:hover{
    text-decoration: none;
}

#scrollAnim a{
    text-decoration: none;

}
#scrollAnim{
    position: relative;
    text-align: center;
    margin-top: -1%;
}
#scrollAnim p{
    margin-top:60px;
    color: #ddd;
    font-size: 12px;
    font-family: "benton-sans", sans-serif;
    font-weight: 100;
}
/* #scrollAnim a {
    padding-top: 60px;
  } */
  #scrollAnim a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 1px solid #2FD8BE;
    border-radius: 50px;
    box-sizing: border-box;
  }
  #scrollAnim a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #2FD8BE;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }






.graphicCol{
    /* background: red; */
    height: 100vh;
    margin:0;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* z-index: 10; */
    width: 100%;

}
#graphic-container{
    width:56%;
    margin: 0 auto;
    position: relative;
    /* position: absolute;
    left: 22%; */
    /* background: #eee; */
    /* height: 70%; */
    /* z-index: 1; */
}
svg{
    width: 100%;
    /* pointer-events:none; */
}

canvas{
    width:100%;
    /* border: 1px solid #fff; */
}

.svgAndCanvas{
    position: absolute;
    /* width:56%;
    margin: 0 22%; */
}
#svg-container{
    z-index: 1;
    pointer-events:none;
    width: 100%;
}
#legend{
    position: absolute;
    top:80px;
    right:-100px;
    z-index: 99;
    color: white;
    font-family: "benton-sans", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 10px;
}
#legend td{
    padding: 1px 6px;
}
.leg-title{
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    padding: 6px;
}
#legend .color{
    width: 20px;
    height: 8px;
    /* background-color: #2FD8BE; */
}

.d-graphicCol{
    z-index: 2;
    height: 100vh;
    position: relative;
    /* background: red; */
    width: 50%;
    min-width: 400px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.d-graphic-container{
    /* background: blue; */
    position: relative;
    height: auto;
}
.pngAndCanvas{
    width: 100%;
    max-width: 680px;
    z-index: 2;
    position: relative;
    /* background: #ddd; */
}
.pngAndCanvas img{
    width:100%;
    /* pointer-events:none; */
   
}

.gif-container{
    /* pointer-events:none; */
}
.d-canvas{
    position: absolute;
    top:0;
    left:0;
    /* background: red; */
    z-index: 0;
}

.sec-wrap{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
}

.d-info-col{
    z-index: 3;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    transition: all 0.2s ease-in-out;
}
.d-info-col .title h1{
    font-family: "benton-sans", sans-serif;
    font-weight: 1000;
    font-size: 60px;
    max-width:700px;
    /* z-index: 4; */
    position: relative;
    color: #2FD8BE;
    border-left: #fff 2px solid;
    padding-left: 15px;
}
.d-info-col .num h1{
    font-family: "benton-sans", sans-serif;
    font-weight: 100;
    font-size: 40px;
    position: relative;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 20px;
    width:75px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #fff;
    display: inline-block;
}
.d-info-col .num k{
    color: white;
    opacity: 0.5;
    margin-left: 5px;
    padding: 5px;
    vertical-align: top;
    transition: all 0.2s ease-in-out;
}
.d-info-col .num k:hover{
    opacity: 1;
    cursor: pointer;
    margin-top: -3px;
    
}
.subhead{
    height: fit-content;
    transition: all 0.2s ease-in-out;
}
.subhead p{
    font-family: "benton-sans", sans-serif;
    color: white;
    font-size: 20px;
    max-width: 780px;
    line-height: 1.2em;
    padding-left: 18px;
    margin-top: 20px;
    height: fit-content;
    transition: all 0.2s ease-in-out;

}


.links{
    display: flex;
    justify-content: space-between;
    max-width:700px;
    margin-top: 40px;
    padding: 0 20px;
}
.links .inst-logo{
    width: 150px;
}
#sectionBonus .links .inst-logo{
    width: 200px;
}
.inst-logo img{
    width: 100%;
}
.link a{
    font-family: "benton-sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2FD8BE;

}


.remaining-content span {
    display: none;
}

.morelink{
    color: #fff;
    opacity: 0.5;
    padding: 5px;
    font-size: 16px;
}

.morelink:hover{
    color: #fff;
    opacity: 1;
}

#last-sec{
    background: #111
}

#cred-wrap{
    height: 100vh;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    color: white;
}
#about-content{
    margin-top: auto;
    padding: 20px 60px;
    /* padding-left: 80px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.about-logos{
    padding: 20px 50px;
    padding-left: 80px;
}
.about-col{
    padding: 0 30px;
    max-width: 1200px;
}
.ack-col p{
    font-size: 38px;
    line-height: 1.2em;
}
.ack-col a{
    color: #2FD8BE;
    text-decoration: underline;
}
.ack-col a:hover{
    opacity: 0.7;
}
.ack-col h1{
    font-size: 18px;
    font-family: "benton-sans", sans-serif;
    margin-bottom: 20px;
    color: #2FD8BE;
    font-weight: 600;
}

.cred-col{
    min-width: 350px;
    padding-top: 38px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}
.cred-col p{
    margin-bottom: 10px;
}
.cred-item .title {
    font-weight: 100;
    color: #2FD8BE;
    display: block;
    margin-bottom: 3px;
}

.about-logos{
    margin-top: 20px;
}
.about-logos img{
    width: 150px;
}
#about-uts-logo{
    width: 250px;
    margin-left: 0px;
}
#about-thj-logo{
    margin-left: 35px;
}
#tooltip{
    /* background: #ffffffcc; */
    color: #000;
    position: fixed;
    z-index: 10000;
    /* padding: 10px; */
    border-radius: 5px;
    display: flex;
    font-size: 12px;
    /* border: 1px solid #000; */
}
#tooltip.notShown{
    display: none;
}
.t-drug-no-div{
    margin-right: 3px;
}
.t-drug-no{
    border: 1px solid #2FD8BE;
    background-color: #111111aa;
    padding: 10px 5px;
    color: #fff;
    border-radius: 20px;
    font-weight: 900;
    width:38px;
    /* font-size: 14px; */
    text-align: center;
    word-wrap: break-word;
    line-height: 0.85em;
    white-space: normal;

}

.t-info-div{
    margin-top:3px;

}
.t-info-div p {
    background-color: #111111aa;
    padding: 2px 5px;
    color: #fff;
}
.t-drug-title{
    font-weight: 600;
}
.t-drug-inst{
    font-size: 9px;
    font-style: italic;
}

.socialBtn{
    font-size: 24px;
    padding: 4px;
    pointer-events: auto ;
    color: #2FD8BE99;
    transition: all 0.2s ease-out;
}
.socialBtn:hover{
    cursor: pointer;
    color: #2FD8BE;
}
.social-share{
    margin-top: 10px;
}

.about-col .socialBtn{
    font-size: 28px;
    padding: 4px 6px;
}

#sectionBonus .num h1{
    font-size: 18px;
    padding-top: 18px;
}

#d-num-Bonus .drug-number{
    font-size: 12px; 
}

#uts-bar{
    position: absolute;
    top:0;
    width: 100%;
    background: #444;
    padding: 10px 10%;
    padding-bottom: 6px;
    border-bottom: 1px solid #F47b20;
}
#uts-bar img{
    width: 240px;
}

#copyright{
    color: white;
    padding: 20px 90px;
    margin-top: auto;
    text-align: center;
    font-weight: 100;
}

.gif-container img{
    /* user-drag: none;  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}